@import "header.css";
@import "footer.css";
@import "nav.css";


@font-face {
    font-family: 'nanumB';
    src: url(../fonts/NanumSquareB.ttf) format('truetype');
}

@font-face {
    font-family: 'nanumEB';
    src: url(../fonts/NanumSquareEB.ttf) format('truetype');
}

@font-face {
    font-family: 'nanumL';
    src: url(../fonts/NanumSquareL.ttf);
}

@font-face {
    font-family: 'nanumR';
    src: url(../fonts/NanumSquareR.ttf);
}

body{
    overflow-x: hidden;
    margin-left:0px; padding:0px;
    font-family: 'nanumR';
}

a {
    text-decoration: none;
    color: black;
}

ul{
    list-style: none;
}

li{
    margin-bottom: 20px;
}